body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #303636;
}
#container{
    display: flex;
    height: 100vh;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -10px;

}

#logo>img{
    width: 15%;
}
#logo span{
    font-size: small;
}
#left{
    margin: auto;
    margin-top: 60px;
    width: 60%;
}

#leftmaincont>h1{
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
}
#leftmaincont{
    width: 50%;
    margin: auto;
    text-align: left;
}



.rcheck{
    font-size: medium;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    margin-bottom: 8px;

}

form>p{
    font-weight: 500;
    margin-bottom: 5px;
}

form{
    margin-bottom: -30px;
}

#right{
    width:38%;
    height: 100vh;
}

#right>img{
    width: 100%;
    height: 100vh;
}


form{
    display: flex;
    flex-direction: column;  
}


#continue{
    font-size: medium;
    width: 101%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    border-radius: 5px;
    background-color:#0073ef;
    border-width: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: white;
}

#forgot:hover{
    cursor: pointer;
}

#forgot{
    font-weight: 400;
    color: #0073ef;
    margin-bottom: -2px;

}

#gbtn>img{
    width: 15px;
}

#gbtn:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

#or{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.echeck{
    font-size: medium;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#spanid{
    color: #0073ef;
}