body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #303636;
}
#fullpage{
    display: flex;
    align-items: start;
    justify-content: left;
    background-color: #f6f7fb;
    }

#sidenav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #2a2f4d;
    width: 4%;
    height: 100vh;
    box-shadow: rgba(103, 142, 205, 0.444) 6px 2px 16px 0px, rgba(133, 163, 197, 0.8) -6px -2px 16px 0px;
    position: sticky;
    top: 0px;
    margin-right: 2%;
}
#sidenav p{
    color: white;
    font-size: 9px;
    margin-top: 5px;
}

#sidenav1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#sidenav1 img{
    width: 65%;
    margin: auto;
}

#sidenav1>img:nth-child(1){
    margin-top: 10%;
}

#sidenav1 img:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#sidenav1>img:nth-child(3){
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px;
}


#sidenav hr{
    width: 70%;
    margin-bottom: 20px;
}

#sidenav1>img:nth-child(3){
    width: 55%;
    margin-bottom: 10px;


}
#sidenav1 i{
    font-size: 18px;
    margin-top: 10px;
}

#sidenav1 i:hover{
    cursor: pointer;
}
    

#sidenav2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

#sidenav2 i{
    font-size: 18px;
    margin-top: 10px;
}

#sidenav2 hr{
    margin-bottom: 0px;
    margin-top: 0px;
}
#sidenav2 i:hover{
    cursor: pointer;   
}


#logout{
    text-decoration: none;
    background-color: #2a2f4d;
    /* border: 1px solid white; */
    border: 0px;
    color: white;
    font-size: 10px;
    margin-top: 5px;
    padding: 10px 5px;
    border-radius: 5px;
}

#logout:hover{
    background-color: white;
    color: #2a2f4d;
    font-weight: 600;
}

/* side nav ends............ */
/* add and update start............ */

#addNup{
    margin: 5% 3% 3% 0%;
    width: 15%;

}

#add>h2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

#add{
    box-shadow: rgba(3, 79, 232, 0.25) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px;
    width: 110%;
}

#add:hover{
    box-shadow: rgba(3, 79, 232, 0.707) 0px 2px 8px 0px;
}



#add>input{
    width: 86%;
    font-size: medium;
    padding: 5px 15px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #0073ef;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#add>select{
    width: 100%;
    font-size: medium;
    padding: 5px 15px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #0073ef;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#add>input:nth-child(10){
margin-top: -15px;
}


#add>input:nth-child(8){
margin-top: -15px;
}

#add>input:nth-child(12){
    width: 101%;
    font-size: medium;
    padding: 5px 15px;
    margin-top: 25px;
    border-radius: 8px;
    border: 1px solid #303636;
    text-decoration: none;
    border-radius: 5px;
    background-color:#0073ef;
    border-width: 0px;
    color: white;
}



#update>h2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

#update{
    box-shadow: rgba(3, 79, 232, 0.25) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px;
    width: 110%;
    margin-top: 50px;
}

#update:hover{
    box-shadow: rgba(3, 79, 232, 0.707) 0px 2px 8px 0px;
}

#update>input{
    width: 86%;
    font-size: medium;
    padding: 5px 15px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #0073ef;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#update>select{
    width: 100%;
    font-size: medium;
    padding: 5px 15px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #0073ef;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#update>input:nth-child(11){
margin-top: -15px;
}


#update>input:nth-child(9){
margin-top: -15px;
}


#update>input:nth-child(13){
    width: 101%;
    font-size: medium;
    padding: 5px 15px;
    margin-top: 25px;
    border-radius: 8px;
    border: 1px solid #303636;
    text-decoration: none;
    border-radius: 5px;
    background-color:#0073ef;
    border-width: 0px;
    color: white;
}

/* display section start................. */
.maincontainer{
    box-shadow: rgba(3, 79, 232, 0.25) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 8px;
    display: block;
    margin: auto;
}

#fullworkspace{
    margin: 0% 2% 3% 4%;
    width: 70%;
}



  #dataforms{
    box-shadow: rgba(3, 79, 232, 0.25) 0px 2px 8px 0px;
    background-color: white;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .topbtns{
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffffff;;
    border-width: 0px;
    font-size: medium;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
  }

  .topbtns:hover{
    border-radius: 5px;
    background-color: #79baff;;
    border-width: 0px;
    font-size: medium;
    color: #303636;
  }

  .topbtns:nth-child(3){
    padding: 6px 16px;
  }

  .topbtns:nth-child(2){
    padding: 6px 18px;
  }

.topbtns1{
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffffff;
    border-width: 1px;
    font-size: medium;
    color: rgb(0, 0, 0);
    padding: 6px 10px;
  }



#dataforms>div{
    display: flex;
    justify-content: space-evenly;
}

#dataforms>div:nth-child(1){
    margin-bottom:10px ;
}


#searchany{
    display: flex;
}

#searchany>input:nth-child(2){
    border-width: 0px;
    background-color: #79baff;
    margin-left: 10px;
    color: #303636;
}
 
#filterByBoard>input:nth-child(2){
    border-width: 0px;
    background-color: #79baff;
    color: #303636;
    margin-left: 10px;
}

#filterByName>input:nth-child(2){
    border-width: 0px;
    background-color: #79baff;
    color: #303636;
    margin-left: 10px;
}

.spancls{
    font-weight: 400;
}

#topbar{
    text-align: center;
}


#myChart{
    box-shadow: rgba(3, 79, 232, 0.25) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px;
    width: 70% !important;
    height: 460px !important;
    margin: auto;
}

@media screen and (min-width: 550px) and (max-width: 939px) {
    #dataforms>div:nth-child(1){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
    }

    .topbtns{
        width: 80px;
        /* border: 1px solid black; */
    }

    #filterByBoard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    #filterByName{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;


    }
    #searchany{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;


    }

    .maincontainer{
        box-shadow: rgba(3, 79, 232, 0.25) 0px 2px 8px 0px;
        background-color: white;
        border-radius: 8px;
        padding: 20px 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    #add>input{
        width: 86%;
        font-size: small;
    }
    
    
    #add>select{
        width: 100%;
        font-size: small;

 
    }

    #dataforms>div:nth-child(3){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
    }
  }